.building-select-main-card {
  margin-top: 5px;
  width: 700px;
  height: 500px;
  background-color: #E8E8E8;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  transform: translateY(-40px);
}

.building-select-main-card-bottom-buttons {
  position: absolute;
  bottom: 20px;
  left: 32px;
  right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}